* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#icona-carrello {
    font-size: 1.5rem;
}

#card-container img {
    height: 60%;
    
}

.card {
    width: 18rem !important;
    
}

body {
    background-color: rgb(212, 63, 63);
    width: 100%;
    
    
}



#button-modale {
    background-color: brown !important;
    border: transparent;
}

#button-modale:hover {
    background-color: rgb(146, 69, 69) !important;
}
.navbar {
    background-color: beige !important;
}

#button-search-navbar {
    background-color: brown !important; 
    color: white !important;
    border: transparent !important;
    
}
#button-search-navbar:hover {
    background-color: rgb(146, 69, 69) !important;
}

#button-search-navbar ion-icon {
    font-size: 1.5rem;
}

#logo-navbar {
    width: 4rem;
}

#logo-principale {
    width: 20rem;
}
.style-link-backOffice:hover {
    color: brown !important;
    transform: scale(1.1) !important; 
}


/* ANIMAZIONE ENTRATA CARD */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.style-card {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards; 
}

/* ANIMAZIONE DELL'H3 SOTTO IL LOGO */

@keyframes entry-left {
    0% {transform: translateX(-240%);}
    100% {transform: translateX(0);}
}

#scroll-h3 {
    transform: translateX(-100%);
    animation: entry-left 3s ease-in-out 0s forwards;
}

.card-dettagli-grande {
    width: 30rem !important;
}

.home-hover:hover {
    color: brown !important;
    transform: scale(1.1) !important;
}