* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

 /* NAVBAR */
#logo-navbar {
    width: 4rem;
}
.navbar {
    background-color: beige !important;
}
.home-hover:hover {
    color: brown !important;
    transform: scale(1.1) !important;
}

body {
    background-color: rgb(212, 63, 63);
    font-family: 'Lato', sans-serif;
}

/* KEYFRAME PER ENTRATA TABELLA */

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animazione-table {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards; 
}

/* ANIMAZIONE PER L'ALERT DI ERRORE NELL'INSERIMENTO DEI PRODOTTI */

.errore {
    
    animation: shake 0.5s linear;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }

  .form-section input{
    border-radius: 5px;
    text-align: center;

  }

.style-input-modifica {
    background-color: beige;
    border: transparent;
}

/* MEDIA QUERY PER RENDERE SCORREVOLE IN ORIZZONTALE LA TABELLA SU MOBILE */
@media (max-width:480px)  { 
    .table-responsive {max-width: 350px!important;}
    
};


